# SATUSEHAT Integrator (Bun)
PORT=8081
SATUSEHAT_BASE=https://api-satusehat-stg.dto.kemkes.go.id
FHIR_BASE=/fhir-r4/v1
OAUTH_PATH=/oauth2/v1/accesstoken
CLIENT_ID=
CLIENT_SECRET=
ORG_IHS=10000004
ENCOUNTER_SYSTEM_BASE=http://sys-ids.kemkes.go.id/encounter

# Identifier systems
ACSN_SYSTEM_BASE=http://sys-ids.kemkes.go.id/accessionno
IMG_ACSN_SYSTEM=http://sys-ids.kemkes.go.id/img-accession-no

# Orthanc
ORTHANC_URL=http://orthanc:8042
ORTHANC_USERNAME=orthanc
ORTHANC_PASSWORD=orthanc

# Database (optional)
DATABASE_URL=
PGHOST=
PGPORT=5432
PGDATABASE=
PGUSER=
PGPASSWORD=

# Logging
LOG_LEVEL=info